<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/home.css">
    
</head>
<body>
    <div class="content">
        <div class="buttons">
            <form action="/manage-company" method="get"> <button type="submit">Manage Company Data</button></form>
            <form action="/managge-reports" method="get"><button type="submit">Manage Reports</button></form>
            <form action="/calendar" method="get"><button type="submit">Manage Student Data</button></form>
            <button>Manage Alumni Data</button>
        </div>
        <div class="logo">
            <img src="./assets/target.png" alt="">
            <p>CareerSAATHI</p>
        </div>
    </div>
   
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/home.css">
    
</head>
<body background="./assets/home.png">
    <nav class="navbar">
        <div class="logo-container">
            <p>CareerSAATHI</p> 
        </div>
    </nav>
    <div class="content">
        <div class="buttons">
            <form action="/manage-company" method="get"> <button type="submit">Manage Company Data</button></form>
            <form action="/managge-reports" method="get"><button type="submit">Manage Reports</button></form>
            <form action="/calendar" method="get"><button type="submit">Manage Student Data</button></form>
            <button>Manage Alumni Data</button>
        </div>
    </div>
</body>
</html>
