<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/home.css">
    
</head>
<body background="./assets/home.png">
    <nav class="navbar">
        <div class="logo-container">
            <p>CareerSAATHI</p> 
        </div>
        <div class="nav-links">
            <a href="#" class="link">Resources</a>
            <a href="/report" class="link">Report</a>
            <a href="/profile" class="link">My Profile</a>
        </div>
    </nav>
    <div class="content">
        <div class="buttons">
            <button>Generate Resume</button>
            <form action="/show-project" method="get"><button type="submit">Project Section</button></form>
            <form action="/calendar" method="get"><button type="submit">Company Calendar</button></form>
            <button>Alumni Connect</button>
        </div>
        
    </div>
</body>
</html>