<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Identification</title>
  <link rel="stylesheet" href="./styles/identification.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap" rel="stylesheet">
<script defer src="script.js"></script>
</head>

<body style="background-color: #7f8ad8;">
  <div class="heading">
    <h1 id="main">CareerSAATHI</h1>
    <h5>You identify as:</h5>
  </div>
  
  <div class="content">
    <form action="/student-login" method="post"  id="student" class="item">
        <img src="/assets/student.png" alt="blue" />
        <button type="submit" id="student-button">Student</button>
    </form>

    <div id="alumni" class="item">
      <img src="/assets/alumni.png" alt="blue" />
      <button >Alumni</button>
    </div>

    <form action="/admin-login" method="get" class="item">
      <img src="/assets/admin.png" alt="orange" />
      <button type="submit">Admin</button>
    </form>
    
  </div>
  

</body>

</html>