<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  
<link rel="stylesheet" href="./styles/login.css">
  <script defer src="login-page.js"></script>
</head>

<body>
  <main id="main-holder">
    <h1 id="login-header">Login</h1>
    
    <div id="login-error-msg-holder">
      <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
    </div>
    
    <form id="login-form" action="/home" method="post">
      <input type="text" name="id" id="username-field" class="login-form-field" placeholder="Student ID">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
      <input type="submit" value="Login" class="login-form-submit">
    </form>

    <form action="student-register" method="post">
      <button class="regb" type="submit">Register</button>
    </form>

    <img src="./assets/login.jpg" alt="Lock Image" id="login-image">
  
  </main>
</body>

</html>