<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <style>
        body {
            background-color: white;
            font-family: 'Poppins', sans-serif;
        }

        .navbar {
            width: 100%;
            background-color: #e8daf3;
            color: black;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: #373536;
        }

        .logo-container p {
            margin: 0;
            font-size: 24px;
            font-family: "Source Serif 4", serif;
        }

        .nav-links .link {
            color: black;
            text-decoration: none;
            margin-left: 20px;
            margin-right: 50px;
        }

        .nav-links .link:hover {
            padding-left: 50px;
            transition: .4s;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="#" class="points">Project Section</a></li>
            <li><a href="#" class="points">Resources</a></li>
            <li><a href="#" class="points">Alumni Connect</a></li> 
        </ul>
        Siderbar for Alumni
    </div>
    
    
</body>
</html>