<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Form</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .report-form {
            max-width: 400px;
            margin: 0 auto;
            margin-top: 50px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input, textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }
        textarea {
            height: 100px; /* You can adjust the height as needed */
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .header-container {
    text-align: center;
    padding: 20px;
    background-color: #6185db;
    color: #fff;
    width: 100%;
}

.company-calendar-heading {
    font-family: 'Arial', sans-serif;
    font-size: 2.5em;
    margin: 0;
    letter-spacing: 2px;
}
    </style>
</head>
<body>
    <div id="header"></div>
    <div id="side"></div>
    <div class="header-container">
        <h1 class="company-calendar-heading">Report</h1>
    </div>
    <form action="/submit-report" method="post" class="report-form">
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required>

        <label for="concern">Concern:</label>
        <textarea id="concern" name="concern" rows="5" required></textarea>

        <button type="submit">Submit</button>
    </form>

    <div>
        <% if (typeof successMessage !== 'undefined') { %>
            <p style="color: green ;" ><%= successMessage %></p>
        <% } else if (typeof errorMessage !== 'undefined') { %>
            <p style="color: red;"><%= errorMessage %></p>
        <% } %>
    </div>
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function(){
        $.get('/navbar', function(data){
            $('#header').html(data);
        });
    });
</script>
 <script>
    $(function(){
        $.get('/side', function(data){
            $('#side').html(data);
        });
    });
</script>
</body>
</html>
