body {
    font-family: Arial, sans-serif;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 8px;
    width: 100%;
}



.header-container {
    text-align: center;
    padding: 20px;
    background-color: #6185db;
    color: #fff;
    width: 100%;
}

.company-calendar-heading {
    font-family: 'Arial', sans-serif;
    font-size: 2.5em;
    margin: 0;
    letter-spacing: 2px;
}


.add-project-btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.add-project-btn:hover {
    background-color: #218838;
}
