body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.project-table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 350px;
}

.project-table th, .project-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.project-table th {
    background-color: #6185db;
    color: white;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.add-project-btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 350px;
}

.add-project-btn:hover {
    background-color: #218838;
}

.company-calendar-heading {
    font-family: 'Arial', sans-serif;
    font-size: 2.5em;
    margin: 0;
    letter-spacing: 2px;
}

.header-container {
    text-align: center;
    padding: 20px;
    background-color: #6185db;
    color: #fff;
}
