body {
    font-family: Arial, sans-serif;
    text-align: center;
}


.upgrade-btn {
    background-color: rgb(59, 193, 59);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: rgb(55, 148, 55);
}

.form-container {
    margin-top: 20px;
}

input[type="text"],
input[type="email"] {
    width: 300px; /* Changed width to 300px */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: block; /* Make the inputs display as block elements */
    margin: 10px auto; /* Center the inputs horizontally */
}

input[type="text"]:focus,
input[type="email"]:focus {
    outline: none;
    border-color: #007bff;
}
